name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'compiler/**'
      - 'Cargo.toml'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'compiler/**'
      - 'Cargo.toml'
      - '.github/workflows/ci.yml'

env:
  LLVM_BRANCH: release/20.x
  LLVM_INSTALL_PATH_UNIX: ${{ github.workspace }}/llvm-install
  LLVM_INSTALL_PATH_WINDOWS: ${{ github.workspace }}\llvm-install
  RUST_BACKTRACE: 1


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-14] # macos-13, macos-latest, # windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      # -------------------------------
      # Install dependencies
      # -------------------------------
      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y tar cmake ninja-build

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install ninja

      # -------------------------------
      # Restore LLVM cache
      # -------------------------------
      - name: Restore LLVM cache (Linux/macOS)
        id: cache-llvm-restore-unix
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.LLVM_INSTALL_PATH_UNIX }}
          key: ${{ runner.os }}-${{ runner.arch }}-llvm-${{ env.LLVM_BRANCH }}


      # -------------------------------
      # Build LLVM if cache missed
      # -------------------------------
      - name: Build LLVM (Linux/macOS)
        if: steps.cache-llvm-restore-unix.outputs.cache-hit != 'true' 
        shell: bash
        run: |
          git clone --depth 1 --branch ${{ env.LLVM_BRANCH }} https://github.com/llvm/llvm-project.git
          cd llvm-project
          cmake -S llvm -B build -G Ninja \
            -DCMAKE_INSTALL_PREFIX=${{ env.LLVM_INSTALL_PATH_UNIX }} \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_ENABLE_PROJECTS="clang;lld" \
            -DLLVM_TARGETS_TO_BUILD="X86;AArch64"
          ninja -C build install


      # -------------------------------
      # Ensure cache path exists (important for saving even if build fails)
      # -------------------------------
      - name: Ensure LLVM cache path exists (Linux/macOS)
        if: always() 
        run: mkdir -p ${{ env.LLVM_INSTALL_PATH_UNIX }}
        shell: bash

      # -------------------------------
      # Save LLVM cache always
      # -------------------------------
      - name: Save LLVM cache (Linux/macOS)
        if: always() 
        uses: actions/cache/save@v4
        with:
          path: ${{ env.LLVM_INSTALL_PATH_UNIX }}
          key: ${{ runner.os }}-${{ runner.arch }}-llvm-${{ env.LLVM_BRANCH }}

      # -------------------------------
      # Install Rust toolchain
      # -------------------------------
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal

      # -------------------------------
      # Add LLVM to PATH
      # -------------------------------
      - name: Add LLVM to path (Linux/macOS)
        shell: bash
        run: echo "${{ env.LLVM_INSTALL_PATH_UNIX }}/bin" >> $GITHUB_PATH


      # -------------------------------
      # Build and test Rust project
      # -------------------------------
      - name: Build project
        if: always()
        run: cargo build --verbose

      - name: Run tests
        if: always()
        run: cargo test --verbose

      - name: Run clippy
        if: always()
        run: cargo clippy -- -D warnings

      - name: Check formatting
        if: always()
        run: cargo fmt -- --check
